<h3>Cumulative Total: <%= @user.total_calories %> calories!</h3>
<% if @user.total_calories < 0 %>
  <h4>Nice job <%= @user.email %>!</h4>
<% else %>
  <h4>You need to go exercise, fatso!</h4>
<% end %>
