<% if @user.exercises.any? %>
  <% @user.exercises.each do |exercise| %>
    <p><%= exercise.name %>: <%= exercise.calories %></p>
  <% end %>
<% end %>

<p>Total: <%= @user.exercise_calories %> calories burned</p>
